{% capture email_title %}OUR SITE GOT A MAKEOVER{% endcapture %}
{% capture email_body %}<!--Update your password to make shopping our <br>new site much easier! (it'll only take a moment ).-->{% endcapture %}
{% capture link_one_text %}Women's{% endcapture %}
{% capture link_one_url %}{{ shop.url }}/collections/women-collection{% endcapture %}
{% capture link_two_text %}Men's{% endcapture %}
{% capture link_two_url %}{{ shop.url }}/collections/men-collection{% endcapture %}
{% capture link_three_text %}Kid's{% endcapture %}
{% capture link_three_url %}{{ shop.url }}/collections/kids{% endcapture %}
{% capture link_four_text %}Sale{% endcapture %}
{% capture link_four_url %}{{ shop.url }}/collections/men-sale{% endcapture %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>{{ email_title }}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width">
      <style>
         @import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
         body {
            background: #fff;
         }
         ul {
            list-style: none;
            margin: 0;
            padding: 0;
         }
         span,p, div, a {
            font-family:'Montserrat', sans-serif;
         }
         .full-container {
            border-collapse: collapse;
            text-align: center;
    min-width: 400px;
    max-width: 700px;
    margin: 0 auto;
         }
         .email-body p {
            margin: 30px 0;
         }
         .email-btn a {
          display: inline-block;
          text-decoration: none;
          color: #ffffff;
          background: #000000;
          padding: 15px 30px;
          cursor: pointer;
          font-size: 16px;
          text-transform: capitalize;
          margin: 0px 0 40px;
          font-weight: 700;
          text-align: center;
          -webkit-border-radius: 0px; 
          -moz-border-radius: 0px;
          border-radius: 0px; 
          -webkit-text-size-adjust: none;
          mso-border-alt: none;
         }
         .footer-links {
            overflow: hidden;
            text-align: center;
         }
         .footer-links > li > a {
             display: block;
             padding: 10px 16px;
             text-decoration: none;
             color: #000;
             font-size: 22px;
             font-weight: 700;
             border-bottom: 1px solid #000;
             text-transform: uppercase;
         }
         .footer-links > li:first-child {
             border-top: 1px solid #b5b5b5;
         }
         .social-links {
            border-bottom: 1px solid #000;
         }
         .social-links ul li {
            display: inline-block;
         }
         .social-links ul li a {
            display: block;
            padding: 10px 12px;
         }
         .social-links ul li img {
            width: 25px;
            max-width: 25px;
            -ms-interpolation-mode: bicubic;
         }
         .footer-desc > td > div {
            max-width: 70%;
            margin: 50px auto 30px;
         }
         .footer-desc > td > div p, .footer-desc > td > div span, .footer-desc > td > div a {
            font-size:12px;
         }
         tr.footer-desc * {
             color: #4c4a4a;
         }
         tr.footer-desc a {
             color: #4c4a4a;
             text-decoration: none;
         }
         .shop-logo {
            padding: 20px 10px;
         }
      </style>
   </head>
   <body style="margin:0px;">
      <!-- LAYOUT -->
      <table class="full-container">
         <tr>
            <td>
               <div class="shop-logo">
                  <img src="{{shop.email_logo_url}}" alt="{{shop.name}}" />
               </div>
            </td>
         </tr>
         <tr class="email-img">
            <td style="text-align: center" align="center">
               <!-- HEADER -->
               <div style="border: solid 0px #fafafa;  padding: 8px 0px 0px;">
                  <img src="https://cdn.shopify.com/s/files/1/0029/1232/1571/files/joes-password-email.jpg?v=1601400538" alt="set password" style="display: block;margin:0 auto;max-width: 100%;height: auto;" />
               </div>
            </td>
         </tr>
         <tr class="email-body">
            <td>
               <p>{{ email_body }}</p>
            </td>
         </tr>
         <tr class="email-btn">
            <td>
               <a href="{{ customer.reset_password_url }}?utm_source=tran&utm_medium=email&utm_campaign=update_password" target="_blank">Set New Password</a>
            </td>
         </tr>
         <tr class="email-links">
            <td style="text-align: center;">
               <ul class="footer-links">
                  <li><a href="{{ link_one_url }}" style="font-family: 'Montserrat', sans-serif;">{{ link_one_text }}</a></li>
                  <li><a href="{{ link_two_url }}" style="font-family: 'Montserrat', sans-serif;">{{ link_two_text }}</a></li>
                  <li><a href="{{ link_three_url }}" style="font-family: 'Montserrat', sans-serif;">{{ link_three_text }}</a></li>
                  <li><a href="{{ link_four_url }}" style="font-family: 'Montserrat', sans-serif;">{{ link_four_text }}</a></li>
                  <li class="social-links">
                     <ul>
                        <li>
                           <a href="https://www.facebook.com/joesjeans/" title="facebook" target="_blank">
                              <img src="https://cdn.shopify.com/s/files/1/0029/1232/1571/files/facebook-email.png?414494" alt="facebook" title="facebook" width="32" />
                           </a>
                        </li>
                        <li>
                           <a href="https://instagram.com/joesjeans" title="instagram" target="_blank">
                              <img src="https://cdn.shopify.com/s/files/1/0029/1232/1571/files/insta-email.png?414493" alt="instagram" title="instagram" width="32" />
                           </a>
                        </li>
                        <li>
                           <a href="https://twitter.com/joesjeans?lang=en" title="twitter" target="_blank">
                              <img src="https://cdn.shopify.com/s/files/1/0029/1232/1571/files/twitter-email.png?414499" alt="twitter" title="twitter" width="32" />
                           </a>
                        </li>
                        <li>
                           <a href="https://www.youtube.com/channel/UCvyl_yZlxrxmn7SCvvUnvFg" title="YouTube" target="_blank">
                              <img src="https://cdn.shopify.com/s/files/1/0029/1232/1571/files/you-tube-email.png?414495" alt="YouTube" title="YouTube" width="32" />
                           </a>
                        </li>
                     </ul>
                  </li>
               </ul>
            </td>
         </tr>
         <!-- FOOTER -->
         <tr class="footer-desc">
            <td>
               <div>
                  <p style="margin:15px 0 0px 0; font-size: 14px;line-height: 17px;text-align: center">
                     <span>This email was sent to you by joes jeans. To ensure delivery to your inbox (not bulk or junk folder.) please add 
                        <a href="mailto:customerservice@shop.joesjeans.com">customerservice@shop.joesjeans.com</a> to your address book.
                     </span>
                  </p>
                  <p>Joe's jeans 1500 N. EI Center, Los Angeles, Ca 90028</p>
                  <p>
                     <a style="text-decoration: none;" href="{{ unsub_url }}" target="_blank" rel="noopener">Unsubscribe</a> |
                     <a style="text-decoration: none;" href="{{ shop.url }}/account" target="_blank" rel="noopener">Update Profile</a> |
                     <a style="text-decoration: none;" href="{{ shop.url }}/pages/privacy-policy" target="_blank" rel="noopener">Privacy Policy</a>
                  </p>
               </div>
            </td>
         </tr>               
      </table>
   </body>
</html>